<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>amusement_park</key>
	<string></string>
	<key>aquarium</key>
	<string></string>
	<key>art_gallery</key>
	<string></string>
	<key>bakery</key>
	<string></string>
	<key>bar</key>
	<string></string>
	<key>beauty_salon</key>
	<string></string>
	<key>bicycle_store</key>
	<string></string>
	<key>book_store</key>
	<string></string>
	<key>bowling_alley</key>
	<string></string>
	<key>cafe</key>
	<string></string>
	<key>campground</key>
	<string></string>
	<key>car_dealer</key>
	<string></string>
	<key>car_rental</key>
	<string></string>
	<key>car_repair</key>
	<string></string>
	<key>car_wash</key>
	<string></string>
	<key>casino</key>
	<string></string>
	<key>clothing_store</key>
	<string></string>
	<key>convenience_store</key>
	<string></string>
	<key>dentist</key>
	<string></string>
	<key>department_store</key>
	<string></string>
	<key>doctor</key>
	<string></string>
	<key>electrician</key>
	<string></string>
	<key>electronics_store</key>
	<string></string>
	<key>florist</key>
	<string></string>
	<key>food</key>
	<string></string>
	<key>furniture_store</key>
	<string></string>
	<key>gas_station</key>
	<string></string>
	<key>general_contractor</key>
	<string></string>
	<key>grocery_or_supermarket</key>
	<string></string>
	<key>gym</key>
	<string></string>
	<key>hair_care</key>
	<string></string>
	<key>hardware_store</key>
	<string></string>
	<key>home_goods_store</key>
	<string></string>
	<key>insurance_agency</key>
	<string></string>
	<key>jewelry_store</key>
	<string></string>
	<key>laundry</key>
	<string></string>
	<key>lawyer</key>
	<string></string>
	<key>liquor_store</key>
	<string></string>
	<key>locksmith</key>
	<string></string>
	<key>lodging</key>
	<string></string>
	<key>meal_takeaway</key>
	<string></string>
	<key>movie_theater</key>
	<string></string>
	<key>museum</key>
	<string></string>
	<key>night_club</key>
	<string></string>
	<key>painter</key>
	<string></string>
	<key>parking</key>
	<string></string>
</dict>
</plist>
